<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/base}">
<head>
    <title>Login</title>
</head>
<body>

<div layout:fragment="content">

<h1 class="text-center">Log in to your account</h1>
    <div class="login-clean">
        <form th:action="@{/login}" method="post" id="loginForm">

            <div th:if="${param.error}" id="errorMsg" style="color:red;">
                Invalid username or password
            </div>

            <div class="form-group">
                <input type="email" class="form-control" id="username"
                       placeholder="Enter username" name="username" autofocus>
            </div>

            <div class="form-group">
                <input type="password" class="form-control" id="password" placeholder="Password"
                       name="password">
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Log In</button>
            </div>
            <a href="/registration" th:href="@{/registration}" id="signUp" class="forgot">
                Don't have an account? Register now</a>
        </form>
    </div>

</div>
</body>
</html>