<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/base}">
<head>
    <title>Admin</title>
</head>
<body>
<div layout:fragment="content">

    <div>
        <a href="/admin/user-list" th:href="@{/admin/user-list}">Manage users</a>
        <a href="/admin/users/">Users</a>
        <a href="/admin/questions">Questions</a>
    </div>

    <div>
        <!-- todo there will be a sidebar -->
        Recently logged on users
        <div>
            <ul>
                <li th:each="user : ${recentUsers}"
                    th:text="${user.username} + ' ' + ${#strings.substring(user.lastLoginAt, 0, #strings.length(user.lastLoginAt)-7)}"></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>