<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/base}">
<head>
    <title>Sign Up</title>
</head>
<body>

<div layout:fragment="content">
    <h1 class="text-center">Create new account</h1>
    <div class="login-clean">
        <form action="#" method="post" th:action="@{/registration}" id="registerForm" th:object="${user}">

            <span id="usernameError" style="color:red;" th:if="${usernameError}" th:text="${usernameError}"></span>

            <div class="form-group">
                <input type="email" class="form-control" id="username"
                       placeholder="Enter email" name="username" autofocus autocomplete="new-password" required>
                <span class="c-error" th:if="${#fields.hasErrors('username')}"
                      th:errors="*{username}">Username error</span>
            </div>

            <div class="form-group">
                <input type="password" class="form-control" id="password" placeholder="Password"
                       name="password" autocomplete="new-password" required>
                <span class="c-error" th:if="${#fields.hasErrors('password')}"
                      th:errors="*{password}">Password error</span>
            </div>

            <div class="form-group">
                <input type="password" class="form-control" id="confirmPassword" placeholder="Password"
                       name="confirmPassword" required>
                <span id="confirmPasswordError" class="c-error"
                      th:if="${passwordError}"
                      th:text="${passwordError}">Passwords do not match</span>
            </div>

            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Sign Up</button>
            </div>

            <a href="/login" th:href="@{/login}" class="forgot">Log In</a>
        </form>
    </div>
</div>
</body>
</html>