<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/base}">
<head>
    <div th:replace="fragments/head.html :: head"></div>
    <title>Profile</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Profile page</h1>

    <div>
        <form action="#" method="post" th:action="@{/save}" th:object="${user}">

            <!-- to handle update -->
            <input type="hidden" th:field="*{id}">

            <div>
                <label for="username">Username</label>
                <input type="text" id="username" th:field="*{username}" class="form-control mb-4 col-4">
            </div>


            <div>
                <label for="password">New password</label>
                <input id="password" type="password" th:field="*{password}" class="form-control mb-4 col-4">
            </div>

            <div>
                <button class="btn btn-info col-2" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>