<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/base}">
<head>
    <div th:replace="fragments/head.html :: head"></div>
    <title>Profile</title>
</head>

<body>
<div layout:fragment="content">
    <h1>Profile page</h1>

    <div>Joined at: <span th:text="${#dates.format(user.getCreatedAt(), 'dd-MM-yyyy | HH:mm')}"></span></div>

    <hr>
    <div>
        <form action="#" method="post" th:action="@{/save}" th:object="${user}" id="updateForm">

            <!-- to handle update -->
            <input type="hidden" th:field="*{id}">

            <span id="usernameError" style="color:red;" th:if="${usernameError}" th:text="${usernameError}"></span>
            <div>
                <label for="username">Username</label>
                <div id="c-error_username" class="c-error" th:if="${#fields.hasErrors('username')}"
                     th:errors="*{username}">Username error
                </div>

                <input type="text" name="username" id="username" th:field="*{username}" class="form-control mb-4 col-4">
            </div>

            <div>
                <label for="password">New password</label>
                <div class="c-error" th:if="${#fields.hasErrors('password')}"
                     th:errors="*{password}">Password error
                </div>
                <input id="password" name="password" type="password" th:field="*{password}"
                       class="form-control mb-4 col-4" placeholder="Password">
            </div>

            <div class="form-group">
                <label for="confirmPassword">Confirm password</label>
                <input type="password" id="confirmPassword" placeholder="Password"
                       name="confirmPassword"
                       class="form-control mb-4 col-4">
                <span id="confirmPasswordError" class="c-error"
                      th:if="${passwordError}"
                      th:text="${passwordError}">Passwords do not match</span>
            </div>

            <div>
                <button class="btn btn-info col-2" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>