<th:block th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/" th:href="@{/}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <div sec:authorize="hasRole('ROLE_USER')">
                        <a class="nav-link" href="/quizzes" th:href="@{/quizzes}">Quizzess <span
                                class="sr-only">(current)</span></a>
                    </div>
                </li>
                <li class="nav-item">
                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="nav-link" id="adminLink" href="/admin/user-list" th:href="@{/admin/user-list}">Admin</a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="c-profile" sec:authorize="isAuthenticated()">
            <a th:href="@{/profile(username=${#authentication.name})}"
            th:text="${#authentication.name}">Profile</a>
        </div>

        <div sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post" id="logoutForm">
                <input class="btn btn-light" type="submit" value="Sign Out">
            </form>
        </div>
    </nav>
</th:block>