<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/base}">
<head>
    <title>Home</title>
</head>

<body>
<div layout:fragment="content">
    <div>
        <h1>Home page</h1>

        <h4>Links:</h4>

        <div>
            <div sec:authorize="!isAuthenticated()">
                <a id="login" href="/login" th:href="@{/login}">Log In</a>
            </div>
            <br>


            <div sec:authorize="hasRole('ROLE_USER')">
                <a href="/quizzes" th:href="@{/quizzes}">Quizzes (only for users)</a>
            </div>
            <br>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <a id="adminLink" href="/admin/user-list" th:href="@{/admin/user-list}">Admin (only for admin)</a>
            </div>
            <br>
        </div>
    </div>
</div>
</body>
</html>

