<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/base}">
<head>
    <title>Home</title>
</head>

<body>
<div layout:fragment="content">
    <div>
        <h1>Home page</h1>
        <div sec:authorize="!isAuthenticated()">
            <a id="login" href="/login" th:href="@{/login}">Log In</a>
        </div>

        <div sec:authorize="isAuthenticated()">
            <h2>Recently viewed:</h2>
        </div>
    </div>
</div>
</body>
</html>

