<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <div th:replace="fragments/head.html :: head"></div>

    <title>Sign Up</title>
</head>
<body>
<div>

    <form action="#" method="post" th:action="@{/registration}" id="registerForm">

        <span id="usernameError" style="color:red;" th:if="${usernameError}" th:text="${usernameError}"></span>
        <label>Username:
            <input type="text" name="username">
        </label>

        <span style="color:red;" th:if="${passwordError}" th:text="${passwordError}"></span>
        <label>Password:
            <input type="password" name="password">
        </label>

        <label>Confirm password:
            <input type="password" name="confirmPassword">
        </label>

        <input type="submit" value="Sign Up">
    </form>
</div>
</body>
</html>