<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <div th:replace="fragments/head.html :: head"></div>
    <title>Admin page</title>
</head>
<body>

<div>
    <div class="container">
        <h1 class="text-center">Admin page</h1>
        <hr>
        <span style="color: red" th:if="${error}" th:text="${error}"></span>

        <table class="table" style="margin: 0 auto;">
            <thead class="thead-dark">
            <tr>
                <th>username</th>
                <th>role</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="user: ${users}">
                <td data-th-text="${user.username}">username</td>

                <td>
                    <form th:action="@{/admin/update}" method="post">

                    <span th:each="role, i : ${roles}">
                        <input type="checkbox" th:text="${!i.last} ? ${role.name} +', ': ${role.name}"
                               th:value="${role.name}"
                               th:checked="${user.roles.contains(role)}"
                               name="formRoles"
                        >
                    </span>

                        <a th:hidden="${user.getUsername() == #request.remoteUser}"
                           onclick="return confirm('Are you sure you want to delete this user?')"
                           th:href="@{/admin/delete(userId=${user.id})}">delete</a>
                        <br>
                        <input type="hidden" name="userId" th:value="${user.id}">

                        <button type="submit">update</button>
                    </form>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
</body>
</html>