<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div>
    <h1>Admin page</h1>
    <hr>
    <table>
        <thead>
        <tr>
            <th>username</th>
            <th>role</th>
            <th>actions</th>
        </tr>
        </thead>

        <tbody>
        <tr data-th-each="user: ${users}">
            <td data-th-text="${user.username}">username</td>
            <td data-th-each="role: ${roles}">
                <label th:text="${role.name}">
                    <input type="checkbox" th:value="${role}" th:checked="${user.roles.contains(role)}">
                </label>
            </td>
            <td>
                <a href="#">delete</a>
                <a href="#">update</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>